@import "~react-datepicker/src/stylesheets/datepicker";
@import '~react-datepicker/dist/react-datepicker.css';
@import "~react-datetime/css/react-datetime.css";

.large-modal {
  width: 90%
}

mark {
  background-color: inherit;
  padding: 0!important
}

.active mark {
  background-color: inherit;
  color: inherit
}

.rbt-input {
  height: 36px!important;
  padding: 0;
  cursor: text;
}

.rbt-input-main {
  min-width: 160px !important;
}

.custom-checkbox {
  position:relative;
  top: -6px
}

.rbt-input-main {
  padding-left: 10px !important;
}

.react-datepicker__time-list {
  display: block !important;
}

.html-comma:not(:first-child) {
  margin-left: -.3em;
}

.html-comma:empty {
  display: none;
}

.html-comma:not(:first-child):before {
  content: ", ";
}
